body
{
font-family:"comic sans ms";
color:aqua;
font-size:14px;
background-image:url("background.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
background-attachment:fixed;
background-position:center;
}

h1
{
font-family:"times new roman";
color:aqua;
font-size:40px;
}

table, td, th
{
border:2px solid lime;
}
td, th
{
text-align:center;
}

select, form, input
{
border:2px solid lime;
}

form
{
padding:20px;
width: 500px;
}

input[type=text]
{
width:200px;
}

input[name=Email]
{
width:202px;
}

hr
{
  border-color:lime;
}

a
{
	color:#9933ff;
}